CONFIG_BOARD_TYPE_ES3N28P_LCD28=y
CONFIG_LCD_ILI9341_240X320=y
CONFIG_CODEC_ES8311_SUPPORT=y
CONFIG_LANGUAGE_VI_VN=y
CONFIG_BRIDGE_MODE_ENABLE=y
CONFIG_BRIDGE_DISCOVERY_ENABLE=y
CONFIG_BRIDGE_DISCOVERY_HOST="xiaozhi-bridge"
CONFIG_BRIDGE_DISCOVERY_PORT=24681
CONFIG_BRIDGE_WEBSOCKET_PORT=8000
CONFIG_BRIDGE_WEBSOCKET_PATH="/xiaozhi/v1/"
CONFIG_BRIDGE_WEBSOCKET_URL="ws://192.168.1.15:8000"
