CONFIG_BRIDGE_DISCOVERY_ENABLE=y
CONFIG_BRIDGE_DISCOVERY_HOST="xiaozhi-bridge"
CONFIG_BRIDGE_DISCOVERY_PORT=24681
CONFIG_BRIDGE_TOUCH_INPUT_ENABLE=y
CONFIG_BRIDGE_WEBSOCKET_PORT=8000
CONFIG_BRIDGE_WEBSOCKET_PATH="/xiaozhi/v1/"
CONFIG_USE_WECHAT_MESSAGE_STYLE=y
